{% extends "mainLayout.html" %}
{% block content %}
  
<div id="game-view">
  <!-- <div class="tile"></div> -->
  <!-- <div class="tile t-mine"></div> -->
  <!-- <div class="tile"></div> -->
  <!-- <div class="tile t-flag"></div> -->
  <!-- <div class="tile t-guess"></div> -->
  <!-- <div class="tile t-0"></div> -->
  <!-- <div class="tile t-1"></div> -->
  <!-- <div class="tile t-2"></div> -->
  <!-- <div class="tile t-3"></div> -->
  <!-- <div class="tile t-4"></div> -->
  <!-- <div class="tile t-5"></div> -->
  <!-- <div class="tile t-6"></div> -->
  <!-- <div class="tile t-7"></div> -->
  <!-- <div class="tile t-8"></div> -->
  <!-- <div class="tile t-9"></div> -->
  </div>

  <script src="/static/game.js"></script>

{% endblock %}
