<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="static/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Mega Minesweeper</title>
</head>

<body>
  <script src="static/main.js"></script>
  
  <nav>
    <div class="nav-wrapper">
      <ul class="left">
        <li><a href="/">Competitions</a></li>
        <li><a href="/leaderboards_page">Leaderboards</a></li>
        {% if data.user %}
          <li><a href="/profile_page">Account</a></li>
          <li><a id="logout_btn">Logout</a></li>
        {% else %}
          <li><a href="/login_page">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <script>
    const btn = document.querySelector("#logout_btn");
    if(btn) {
      btn.addEventListener("click",async () => {
        await req("/api/logout", {});
        window.location.href = "/"
      })
    }
  </script>

  {% if last_error %}
  <p>Error: {{last_error}}</p>
  <a class="waves-effect waves-light btn" id="clear_btn">X</a>
  <script>
    const cbtn = document.querySelector("#clear_btn");
    cbtn.addEventListener("click",async () => {
        await req("/api/clear_error", {});
        window.location.reload()
    })
  </script>
  {% endif %}
  <div id="content" style="display: flex;">{% block content %}{% endblock %}</div>

</body>

</html>
