{% extends "mainLayout.html" %}
{% block content %}

<div style="display: block;">
  <div class="row" style="width: 800px;">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{data.user.username}}</span>
          <p>Elo: {{data.user.elo}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="width: 800px;">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Create Competition</span>
          <div class="input-field" style="color: white;">
            <input value="" id="title" type="text" class="validate" style="color: white;">
            <label class="active" for="title">Title</label>
          </div>


          <div class="input-field" style="color: white;">
            <input value="" id="password" type="password" class="validate" style="color: white;">
            <label class="active" for="password">Password</label>
          </div>

          <a class="waves-effect waves-light btn" id="create">Create</a>

        </div>
      </div>
    </div>
  </div>

</div>

<script>
document.querySelector("#create").addEventListener("click", async () => {
  const title_val = document.querySelector("#title").value;
  const password_val = document.querySelector("#password").value;

  await req("/api/start_competition", {
    title: title_val,
    password: password_val ? password_val : null,
    time: 1800000
  });

  window.location.href = "/"
});   
</script>


{% endblock %}
